body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.125rem;
}
.display-5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e6c63b !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e6c63b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e6c63b !important;
}
.text-secondary {
  color: #000000 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a68b15 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e6c63b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e6c63b;
  border-color: #e6c63b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e6c63b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdfbf0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e6c63b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #e6c63b;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e6c63b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e6c63b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e6c63b;
  border-bottom-color: #e6c63b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #e6c63b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e6c63b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tc5qakd6Md {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tc5qakd6Md nav.navbar {
  position: fixed;
}
.cid-tc5qakd6Md a {
  font-weight: 300 !important;
}
.cid-tc5qakd6Md .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tc5qakd6Md .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tc5qakd6Md .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tc5qakd6Md .dropdown-item:hover,
.cid-tc5qakd6Md .dropdown-item:focus {
  background: #e6c63b !important;
  color: white !important;
}
.cid-tc5qakd6Md .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tc5qakd6Md .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tc5qakd6Md .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tc5qakd6Md .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tc5qakd6Md .container {
  display: flex;
  margin: auto;
}
.cid-tc5qakd6Md .dropdown-menu,
.cid-tc5qakd6Md .navbar.opened {
  background: #181818 !important;
}
.cid-tc5qakd6Md .nav-item:focus,
.cid-tc5qakd6Md .nav-link:focus {
  outline: none;
}
.cid-tc5qakd6Md .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tc5qakd6Md .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tc5qakd6Md .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tc5qakd6Md .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tc5qakd6Md .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tc5qakd6Md .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tc5qakd6Md .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #181818;
}
.cid-tc5qakd6Md .navbar.opened {
  transition: all 0.3s;
}
.cid-tc5qakd6Md .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tc5qakd6Md .navbar .navbar-logo img {
  width: auto;
}
.cid-tc5qakd6Md .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tc5qakd6Md .navbar.collapsed {
  justify-content: center;
}
.cid-tc5qakd6Md .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tc5qakd6Md .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tc5qakd6Md .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tc5qakd6Md .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tc5qakd6Md .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tc5qakd6Md .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tc5qakd6Md .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tc5qakd6Md .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tc5qakd6Md .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tc5qakd6Md .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tc5qakd6Md .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tc5qakd6Md .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tc5qakd6Md .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tc5qakd6Md .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tc5qakd6Md .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tc5qakd6Md .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tc5qakd6Md .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tc5qakd6Md .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tc5qakd6Md .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tc5qakd6Md .navbar.navbar-short {
  min-height: 60px;
}
.cid-tc5qakd6Md .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tc5qakd6Md .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tc5qakd6Md .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tc5qakd6Md .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tc5qakd6Md .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tc5qakd6Md .dropdown-item.active,
.cid-tc5qakd6Md .dropdown-item:active {
  background-color: transparent;
}
.cid-tc5qakd6Md .navbar-expand-lg .navbar-nav {
  padding: 0;
}
.cid-tc5qakd6Md .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tc5qakd6Md .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tc5qakd6Md .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #181818;
}
.cid-tc5qakd6Md .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tc5qakd6Md .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tc5qakd6Md ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tc5qakd6Md .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tc5qakd6Md button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tc5qakd6Md button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tc5qakd6Md button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tc5qakd6Md button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tc5qakd6Md button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tc5qakd6Md button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tc5qakd6Md nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tc5qakd6Md nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tc5qakd6Md nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tc5qakd6Md nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tc5qakd6Md .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tc5qakd6Md a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.cid-tc5qakd6Md .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tc5qakd6Md .navbar {
    height: 70px;
  }
  .cid-tc5qakd6Md .navbar.opened {
    height: auto;
  }
  .cid-tc5qakd6Md .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tc5qakd6Md .mbr-text {
  color: #fff;
}
.cid-tc5qakd6Md .link-language:first-child {
  margin-right: 0 !important;
}
.cid-tc5qakd6Md .link-language:last-child {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.cid-tc5qakd6Md .nav-link {
  position: relative;
}
.cid-tc5qakd6Md .nav-item {
  margin: 0 6px;
}
.cid-tc5qakd6Md .nav-item:first-child {
  margin-left: 150px;
}
@media (max-width: 1200px) {
  .cid-tc5qakd6Md .nav-item:first-child {
    margin-left: 6px;
  }
}
.cid-tc5qakd6Md .nav-item:last-child {
  text-align: center;
}
.cid-tc5qakd6Md .text-white {
  color: #fff !important;
}
.cid-tc5qakd6Md .nav-button {
  padding: .5rem 1rem;
}
.cid-tc1vJUZrf2 {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/pawel-janiak-8uzhdypkvzg-unsplash.jpg");
}
.cid-tc1vJUZrf2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tc1vJUZrf2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tc1y2JoWHS {
  overflow: visible !important;
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
@media (max-width: 1000px) {
  .cid-tc1y2JoWHS {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .cid-tc1y2JoWHS {
    padding-top: 0.9rem;
    padding-bottom: 1.8rem;
  }
}
.cid-tc1y2JoWHS .f-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-tc1y2JoWHS .f-row {
    flex-direction: row;
    min-height: 665px;
  }
}
@media (min-width: 992px) {
  .cid-tc1y2JoWHS .image-wrapper {
    transform: translateX(25%);
    min-width: 770px;
    min-height: 500px;
    max-height: 500px;
  }
}
.cid-tc1y2JoWHS .image-wrapper img {
  min-height: 100%;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-tc1y2JoWHS .text {
    min-width: 615px;
    transform: translate(-25%, 3rem);
  }
}
.cid-tc1y2JoWHS .text-wrapper {
  background: #ffe161;
  padding: 3rem 1rem 5rem;
}
@media (min-width: 992px) {
  .cid-tc1y2JoWHS .text-wrapper {
    padding: 100px 100px 63px;
  }
}
.cid-tc1y2JoWHS .mbr-text {
  font-weight: 300;
}
@media (min-width: 992px) {
  .cid-tc1y2JoWHS .display-1 {
    font-size: 65px;
  }
  .cid-tc1y2JoWHS .display-5 {
    font-size: 29px;
  }
}
.cid-tc1y2JoWHS .mbr-section-btn {
  background: #ffe161;
  margin-left: 0;
  margin-right: 0;
}
.cid-tc1y2JoWHS .btn {
  box-shadow: none !important;
  border-radius: 0 !important;
  font-weight: 400;
  min-height: 72px;
  padding-right: 80px;
  padding-left: 80px;
  margin: 0;
}
.cid-tc1y2JoWHS .btn:hover {
  background: #BEE1E6 !important;
  border-color: #BEE1E6 !important;
  color: #18293D !important;
}
.cid-tc5nU1x26u {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(0deg, #000000, #232323);
}
.cid-tc5nU1x26u a {
  text-align: center;
}
.cid-tc5nU1x26u p {
  color: #0a0a0a;
  text-align: center;
}
.cid-tc5nU1x26u span {
  font-size: 2rem;
}
.cid-tc5nU1x26u .mbr-iconfont-social {
  font-size: 20px;
  width: 44px;
  padding-top: 6px;
  display: inline-block;
  line-height: 38px;
  border-radius: 50%;
}
.cid-tc5nU1x26u .socicon-twitter {
  color: #4da7de;
}
.cid-tc5nU1x26u .socicon-facebook {
  color: #3e5b98;
}
.cid-tc5nU1x26u .socicon-googleplus {
  color: #dd4b39;
}
.cid-tc5nU1x26u .socicon-instagram {
  color: #3f729b;
}
.cid-tc5nU1x26u .social-list a:focus {
  text-decoration: none;
}
.cid-tc5nU1x26u .text-copyright {
  width: 100%;
}
.cid-tc5nU1x26u .img-logo-footer {
  margin-right: 1rem;
  max-width: 5rem;
}
.cid-tc5nU1x26u .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.cid-tc5nU1x26u .logo-footer {
  line-height: normal;
}
.cid-tc5nU1x26u .copyright {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-tc5nU1x26u .social-btns {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-tc5nU1x26u .media-container-row {
  -webkit-align-items: center;
  align-items: center;
}
.cid-tc5nU1x26u .media-container-row a {
  margin: 0 1rem;
}
.cid-tc5nU1x26u .mbr-fallback-image.disabled {
  display: none;
}
.cid-tc5nU1x26u .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tc5nU1x26u P {
  color: #ffffff;
}
.cid-tc1yqsj1c4 {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
@media (min-width: 1400px) {
  .cid-tc1yqsj1c4 .wrapper {
    padding: 0 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tc1yqsj1c4 .item {
    margin-bottom: 3rem;
  }
}
.cid-tc1yqsj1c4 .item-wrapper:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-tc1yqsj1c4 .item-wrapper {
  height: 100%;
}
.cid-tc1yqsj1c4 .item-img {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.cid-tc1yqsj1c4 .item-img img {
  transition: all 1.5s;
  height: 100%;
  object-fit: cover;
}
.cid-tc1yqsj1c4 .btn {
  min-width: 215px;
  padding: .8rem 4rem;
  position: relative;
  color: #ffffff;
}
.cid-tc1yqsj1c4 .effectHover {
  position: absolute;
  width: 105%;
  height: 90%;
  border: 1px solid #9A948D;
}
.cid-tc1yqsj1c4 .effectHover::before {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top left;
  border-left: 1px solid #9A948D;
  border-top: 1px solid #9A948D;
  transform: scale3d(0, 0, 1);
  transition: all 0.7s;
}
.cid-tc1yqsj1c4 .effectHover::after {
  content: "";
  right: -1px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
  border-bottom: 1px solid #9A948D;
  border-right: 1px solid #9A948D;
  transform: scale3d(0, 0, 1);
  transition: all 0.7s;
}
.cid-tc1yqsj1c4 .btn:hover .effectHover::before {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: scale3d(1, 1, 1);
}
.cid-tc1yqsj1c4 .btn:hover .effectHover::after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: scale3d(1, 1, 1);
}
.cid-tc1yqsj1c4 .text-wrapper {
  width: 85%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.cid-tc1yqsj1c4 .mbr-title,
.cid-tc1yqsj1c4 .mbr-section-btn {
  color: #ffffff;
}
.cid-tc1yqsj1c4 .mbr-section-title {
  color: #e6c63b;
}
.cid-tc1LPBP66z {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tc1LPBP66z .item-wrapper {
  width: 100%;
}
.cid-tc1LPBP66z .left-side {
  text-align: left;
}
.cid-tc1LPBP66z .link {
  width: 100%;
  margin-top: 29px;
}
.cid-tc1LPBP66z .left {
  max-width: 490px;
  padding-right: 45px;
  margin: auto;
}
.cid-tc1LPBP66z .justify-content-center {
  align-items: center;
  background: transparent;
  padding: 0px;
  margin: 0;
}
.cid-tc1LPBP66z .mbr-section-title {
  margin: 0 0 26px;
  color: #ffffff;
  font-weight: 700;
}
.cid-tc1LPBP66z .mbr-text {
  color: #b2b2b2;
  font-weight: 500;
}
.cid-tc1LPBP66z .title {
  font-weight: 700;
  color: #1d1d1f;
}
.cid-tc1LPBP66z .link a {
  background-image: none !important;
}
.cid-tc1LPBP66z .col-auto {
  display: inline-block;
}
.cid-tc1LPBP66z .container-fluid {
  padding: 0;
}
.cid-tc1LPBP66z .mbr-section-subtitle {
  color: #b2b2b2;
  width: 100%;
  padding-bottom: 2px;
  font-weight: 700;
}
.cid-tc1LPBP66z .right-side {
  padding: 0;
}
@media (max-width: 990px) {
  .cid-tc1LPBP66z .left-side {
    padding: 25px 15px;
  }
}
.cid-tc1LPBP66z a {
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.cid-tc1LPBP66z rect {
  transform: translateX(-13px);
  transform-origin: right;
  stroke: currentColor;
  stroke-width: .5;
}
.cid-tc1LPBP66z .qodef-button-cap-fake {
  animation: qode-button-cap-fake-out 0.35s linear;
}
.cid-tc1LPBP66z svg {
  margin-left: 15px;
}
.cid-tc1LPBP66z path {
  animation: qode-button-cap-out 0.35s ease-in-out;
  transform: translateX(-13px);
  transform-origin: right;
  fill: currentColor;
}
.cid-tc1LPBP66z .link:hover rect {
  animation: qode-button-line 0.7s ease forwards;
}
.cid-tc1LPBP66z .link:hover path {
  animation: qode-button-cap 0.7s ease forwards;
}
@keyframes qode-button-cap-fake-out {
  0% {
    clip-path: inset(0 0 0 0);
  }
  49%,
  51% {
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes qode-button-line {
  0%,
  100% {
    transform: translateX(-13px) scaleX(1);
  }
  10% {
    transform: translateX(-13px) scaleX(1);
  }
  46%,
  55% {
    transform: translateX(0) scaleX(0.5);
  }
  99% {
    transform: translateX(-13px) scaleX(0.6);
  }
}
@keyframes qode-button-cap-out {
  0%,
  50% {
    transform: translateX(-35px) scaleX(-1);
  }
  100%,
  51% {
    transform: translateX(-13px) scaleX(1);
  }
}
@keyframes qode-button-cap {
  0% {
    -webkit-transform: translateX(-13px) scaleX(1);
    transform: translateX(-13px) scaleX(1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
  54% {
    -webkit-transform: translateX(-1px) scaleX(1);
    transform: translateX(-1px) scaleX(1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  55% {
    -webkit-transform: translateX(-20px) scaleX(-1);
    transform: translateX(-20px) scaleX(-1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    -webkit-transform: translateX(-35px) scaleX(-1);
    transform: translateX(-35px) scaleX(-1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
.cid-tc1LPBP66z img {
  width: 80%;
  margin: auto;
}
.cid-tc1M4QMdgv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tc1M4QMdgv .item-wrapper {
  width: 100%;
}
.cid-tc1M4QMdgv .left-side {
  text-align: left;
}
.cid-tc1M4QMdgv .link {
  width: 100%;
  margin-top: 29px;
}
.cid-tc1M4QMdgv .left {
  max-width: 490px;
  padding-right: 45px;
  margin: auto;
}
.cid-tc1M4QMdgv .justify-content-center {
  align-items: center;
  background: transparent;
  padding: 0px;
  margin: 0;
}
.cid-tc1M4QMdgv .mbr-section-title {
  margin: 0 0 26px;
  color: #ffffff;
  font-weight: 700;
}
.cid-tc1M4QMdgv .mbr-text {
  color: #b2b2b2;
  font-weight: 500;
}
.cid-tc1M4QMdgv .title {
  font-weight: 700;
  color: #1d1d1f;
}
.cid-tc1M4QMdgv .link a {
  background-image: none !important;
}
.cid-tc1M4QMdgv .col-auto {
  display: inline-block;
}
.cid-tc1M4QMdgv .container-fluid {
  padding: 0;
}
.cid-tc1M4QMdgv .mbr-section-subtitle {
  color: #b2b2b2;
  width: 100%;
  padding-bottom: 2px;
  font-weight: 700;
}
.cid-tc1M4QMdgv .right-side {
  padding: 0;
}
.cid-tc1M4QMdgv .row.justify-content-center {
  flex-direction: row-reverse;
}
.cid-tc1M4QMdgv .right-side {
  padding-right: 0px;
}
.cid-tc1M4QMdgv .left-side {
  padding-left: 50px;
}
@media (max-width: 990px) {
  .cid-tc1M4QMdgv .left-side {
    padding: 25px 15px;
  }
}
.cid-tc1M4QMdgv a {
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.cid-tc1M4QMdgv rect {
  transform: translateX(-13px);
  transform-origin: right;
  stroke: currentColor;
  stroke-width: .5;
}
.cid-tc1M4QMdgv .qodef-button-cap-fake {
  animation: qode-button-cap-fake-out 0.35s linear;
}
.cid-tc1M4QMdgv svg {
  margin-left: 15px;
}
.cid-tc1M4QMdgv path {
  animation: qode-button-cap-out 0.35s ease-in-out;
  transform: translateX(-13px);
  transform-origin: right;
  fill: currentColor;
}
.cid-tc1M4QMdgv .link:hover rect {
  animation: qode-button-line 0.7s ease forwards;
}
.cid-tc1M4QMdgv .link:hover path {
  animation: qode-button-cap 0.7s ease forwards;
}
@keyframes qode-button-cap-fake-out {
  0% {
    clip-path: inset(0 0 0 0);
  }
  49%,
  51% {
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes qode-button-line {
  0%,
  100% {
    transform: translateX(-13px) scaleX(1);
  }
  10% {
    transform: translateX(-13px) scaleX(1);
  }
  46%,
  55% {
    transform: translateX(0) scaleX(0.5);
  }
  99% {
    transform: translateX(-13px) scaleX(0.6);
  }
}
@keyframes qode-button-cap-out {
  0%,
  50% {
    transform: translateX(-35px) scaleX(-1);
  }
  100%,
  51% {
    transform: translateX(-13px) scaleX(1);
  }
}
@keyframes qode-button-cap {
  0% {
    -webkit-transform: translateX(-13px) scaleX(1);
    transform: translateX(-13px) scaleX(1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
  54% {
    -webkit-transform: translateX(-1px) scaleX(1);
    transform: translateX(-1px) scaleX(1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  55% {
    -webkit-transform: translateX(-20px) scaleX(-1);
    transform: translateX(-20px) scaleX(-1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    -webkit-transform: translateX(-35px) scaleX(-1);
    transform: translateX(-35px) scaleX(-1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
.cid-tc1M4QMdgv img {
  width: 80%;
  margin: auto;
}
.cid-tc1M11TZJZ {
  padding-top: 1rem;
  padding-bottom: 9rem;
  background-color: #232323;
}
.cid-tc1M11TZJZ .item-wrapper {
  width: 100%;
}
.cid-tc1M11TZJZ .left-side {
  text-align: left;
}
.cid-tc1M11TZJZ .link {
  width: 100%;
  margin-top: 29px;
}
.cid-tc1M11TZJZ .left {
  max-width: 490px;
  padding-right: 45px;
  margin: auto;
}
.cid-tc1M11TZJZ .justify-content-center {
  align-items: center;
  background: transparent;
  padding: 0px;
  margin: 0;
}
.cid-tc1M11TZJZ .mbr-section-title {
  margin: 0 0 26px;
  color: #ffffff;
  font-weight: 700;
}
.cid-tc1M11TZJZ .mbr-text {
  color: #b2b2b2;
  font-weight: 500;
}
.cid-tc1M11TZJZ .title {
  font-weight: 700;
  color: #1d1d1f;
}
.cid-tc1M11TZJZ .link a {
  background-image: none !important;
}
.cid-tc1M11TZJZ .col-auto {
  display: inline-block;
}
.cid-tc1M11TZJZ .container-fluid {
  padding: 0;
}
.cid-tc1M11TZJZ .mbr-section-subtitle {
  color: #b2b2b2;
  width: 100%;
  padding-bottom: 2px;
  font-weight: 700;
}
.cid-tc1M11TZJZ .right-side {
  padding: 0;
}
@media (max-width: 990px) {
  .cid-tc1M11TZJZ .left-side {
    padding: 25px 15px;
  }
}
.cid-tc1M11TZJZ a {
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.cid-tc1M11TZJZ rect {
  transform: translateX(-13px);
  transform-origin: right;
  stroke: currentColor;
  stroke-width: .5;
}
.cid-tc1M11TZJZ .qodef-button-cap-fake {
  animation: qode-button-cap-fake-out 0.35s linear;
}
.cid-tc1M11TZJZ svg {
  margin-left: 15px;
}
.cid-tc1M11TZJZ path {
  animation: qode-button-cap-out 0.35s ease-in-out;
  transform: translateX(-13px);
  transform-origin: right;
  fill: currentColor;
}
.cid-tc1M11TZJZ .link:hover rect {
  animation: qode-button-line 0.7s ease forwards;
}
.cid-tc1M11TZJZ .link:hover path {
  animation: qode-button-cap 0.7s ease forwards;
}
@keyframes qode-button-cap-fake-out {
  0% {
    clip-path: inset(0 0 0 0);
  }
  49%,
  51% {
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes qode-button-line {
  0%,
  100% {
    transform: translateX(-13px) scaleX(1);
  }
  10% {
    transform: translateX(-13px) scaleX(1);
  }
  46%,
  55% {
    transform: translateX(0) scaleX(0.5);
  }
  99% {
    transform: translateX(-13px) scaleX(0.6);
  }
}
@keyframes qode-button-cap-out {
  0%,
  50% {
    transform: translateX(-35px) scaleX(-1);
  }
  100%,
  51% {
    transform: translateX(-13px) scaleX(1);
  }
}
@keyframes qode-button-cap {
  0% {
    -webkit-transform: translateX(-13px) scaleX(1);
    transform: translateX(-13px) scaleX(1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
  54% {
    -webkit-transform: translateX(-1px) scaleX(1);
    transform: translateX(-1px) scaleX(1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  55% {
    -webkit-transform: translateX(-20px) scaleX(-1);
    transform: translateX(-20px) scaleX(-1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    -webkit-transform: translateX(-35px) scaleX(-1);
    transform: translateX(-35px) scaleX(-1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
.cid-tc1M11TZJZ img {
  width: 80%;
  margin: auto;
}
.cid-tc5JlMAtri {
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tc5JlMAtri .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-tc5JlMAtri .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-tc5JlMAtri .column {
    margin-left: 4rem;
  }
}
.cid-tc5JSFOVCl {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tc5JSFOVCl .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-tc5JSFOVCl .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-tc5JSFOVCl .column {
    margin-left: 4rem;
  }
}
.cid-tc5JFUUfrI {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tc5JFUUfrI .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-tc5JFUUfrI .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-tc5JFUUfrI .column {
    margin-left: 4rem;
  }
}
.cid-tc5JRMN7s6 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tc5JRMN7s6 .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-tc5JRMN7s6 .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-tc5JRMN7s6 .column {
    margin-left: 4rem;
  }
}
.cid-tc5JUaHnK6 {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tc5JUaHnK6 .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-tc5JUaHnK6 .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-tc5JUaHnK6 .column {
    margin-left: 4rem;
  }
}
.cid-tc5oZ2gjMM {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tc5oZ2gjMM .container {
  max-width: 1312px;
}
.cid-tc5oZ2gjMM .col-text {
  display: grid;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}
.cid-tc5oZ2gjMM .label-text {
  color: #ffffff;
  width: 100%;
}
.cid-tc5oZ2gjMM .mbr-section-title {
  color: #ffffff;
  width: 100%;
}
.cid-tc5oZ2gjMM .btn {
  padding: 1.6rem 3.5rem;
  font-weight: 400;
}
.cid-tc5oZ2gjMM .advantages-container {
  display: grid;
  margin-top: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 4.5rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
@media (max-width: 991px) {
  .cid-tc5oZ2gjMM .advantages-container {
    grid-auto-flow: row;
  }
}
.cid-tc5oZ2gjMM .advantage {
  display: flex;
  align-items: flex-start;
}
.cid-tc5oZ2gjMM .advantage-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  border-radius: 50%;
  background-color: #e6c63b;
}
.cid-tc5oZ2gjMM .advantage-icon span {
  color: #002549;
}
.cid-tc5oZ2gjMM .advantage-text {
  color: #ffffff;
}
.cid-tc5oZ2gjMM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tc5oZ2gjMM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-sFGDg6hy8z {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-sFGDg6hy8z .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-sFGDg6hy8z .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sFGDg6hy8z .row {
    text-align: center;
  }
  .cid-sFGDg6hy8z .social-row {
    justify-content: center;
  }
}
.cid-sFGDg6hy8z .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-sFGDg6hy8z .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sFGDg6hy8z .list {
    margin-bottom: 0rem;
  }
}
.cid-sFGDg6hy8z .mbr-text {
  color: #bbbbbb;
}
.cid-sFGDg6hy8z .mbr-iconfont {
  color: black;
}
